.Pai{
	display: flex;
	margin: 2%;
}

#dados-chat{
	height: 300px; overflow: auto
}

.caixa-chat{
	background-color: gray;
	width: 20%;
	padding: 10px;
}

.jogo-layout{
	background-color: lightgray;
	width: 80%;
}

.caixa-chat input[type='text']{
	width: auto;
	margin-top: 10px;
}

.caixa-chat input[type='submit']{
	margin-top: 10px;
	width: auto;
}

.opcoes-ficha{
	display: flex; 
	justify-content: space-between; 
	margin: 30px 150px;
}

.opcoes-ficha > div{
	font-weight: bold;
	padding: 10px 100px;
	border-radius: 20px;
}

.opcoes-ficha > div:hover{
	background-color: #41B13B;
	cursor: pointer;
}

.mostraDiv{position: absolute; margin: 0 10% 0 0; border-radius: 10px; border-style: solid; border-width: 1px; padding: 10px; background: lightgray; z-index: 1; display: none;}
.mostraDiv span{color: black;}