@media only screen and (min-width: 480px) { 

}
@media only screen and (max-width: 850px) {

.SecaoPrimeira img{float: left; width: 100%; height: 500px; background: #000; opacity: 0.9;}	

}
@media only screen and (max-width: 1170px) {

.ImageSlogan{position: absolute; margin: 50px;}

.Links{display: none;}

.SecaoPrimeira img{float: left; width: 100%; height: 650px; background: #000; opacity: 0.9;}

}
@media only screen and (max-width: 1450px) {

.ImageSlogan{position: absolute; margin: 1% 1% 1% 10%;}

.Links{float: right; margin: 1% 10% 1% 10%; font-family: 'Josefin Sans', sans-serif;}
	.Links a{margin: 20px; text-decoration: none;}
	.LinkBotao {display: inline-block; padding: 10px 25px; font-size: 17px; color:#FFF; font-weight: bold; text-align: center; border:0; border-radius: 15px; cursor:pointer; background: #41B13B; font-family: 'Josefin Sans', sans-serif;} 

}
@media only screen and (max-width: 1530px) {

}