*{margin: 0; padding: 0; box-sizing: border-box;}

.Content{float: left; width: 100%; padding: 15px; background: lightgray;}

.Secao{margin: 5% 10% 0 10%; width: 80%; background: #D8E2D5;}

.Center{text-align: center;}

.CenterTitulo{text-align: center; font-family: 'Berkshire Swash', cursive; font-size: 32px; margin: 10px; color: #41B13B;}

/* Inicio do css da pagina index.php */
.ImageFundo{width: 100%; height: 650px; background-image: url("image/backgroundPrimeiro.jpg"); background-repeat: no-repeat; background-size: contain; background-size: 100% 100%;}

.BotaoJogar{position: absolute; margin-top: 325px; width: 100%; height: 50px;} 

.JogarIndex button{display: inline-block; width: 10%; height: 40px; font-size: 17px; color:#FFF; font-weight: bold; text-align: center; border:0; border-radius: 15px; cursor:pointer; background: #41B13B; font-family: 'Josefin Sans', sans-serif;}
  .JogarIndex button:hover{background: red; text-decoration: none;} 
/* Inicio do css da pagina index.php */

/* Inicio do css da pagina index.php */
.Ficha{}

.InfFicha{float: left; width: 100%; margin-bottom: 5px;}
  .InfFicha input[type='text']{float: left; width: 90%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5;}
  .InfFicha input[type='number']{float: left; width: 15%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5;}
  .InfFicha span{font-family:'Josefin Sans', sans-serif;} 

.InfFichaMod{float: left; width: 100%;}
  .InfFichaMod input[type='number']{float: left; width: 10%; height: 25px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5;} 
  .InfFichaMod small{font-family:'Josefin Sans', sans-serif; margin-left: 1px;} 

.BordaFicha{border: 2px solid #41B13B; border-radius: 5px;}  
/* Inicio do css da pagina index.php */  

.Titulo{font-family: 'Berkshire Swash', cursive; font-size: 50px;}

.Retorno{display: none; float: left; width: 70%; border: 2px solid #41B13B; background: #D8E2D5; text-align: center; padding: 15px; margin: 20px 15% 10px 15%;}

.Formulario{float: left; width: 70%; height: 500px; padding: 20px; margin: 60px 15%;}

.CadastroFormulario{float: left; width: 60%; margin: 10px 20% 10px 20%;}
	.CadastroFormulario span{font-family:'Josefin Sans', sans-serif;}
	.CadastroFormulario input[type='text'], input[type='email'], input[type='password']{float: left; width: 100%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5}
  .CadastroFormulario input[type='submit']{display: inline-block; width: 20%; height: 40px; font-size: 17px; color:#FFF; font-weight: bold; text-align: center; border:0; border-radius: 15px; cursor:pointer; background: #41B13B; font-family: 'Josefin Sans', sans-serif;}
  .CadastroFormulario a{color: #41B13B; text-decoration: none;}
  .CadastroFormulario a:hover{text-decoration: underline;}

/* Inicio do css da pagina modoJogo.php */
.CadastroSala{float: left; width: 70%; margin: 10px 20% 10px 20%;}
  .CadastroSala span{font-family:'Josefin Sans', sans-serif;}
  .CadastroSala input[type='text']{float: left; width: 100%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5}
  .CadastroSala input[type='submit']{display: inline-block; width: 20%; height: 40px; font-size: 17px; color:#FFF; font-weight: bold; text-align: center; border:0; border-radius: 15px; cursor:pointer; background: #41B13B; font-family: 'Josefin Sans', sans-serif;}
  .CadastroSala a{color: #41B13B; text-decoration: none;}
  .CadastroSala a:hover{text-decoration: underline;}  
/* Fim do css da pagina modoJogo.php */        

.TituloLoginCadastro{float: left; width: 20%; margin: 20px 20% 10px 20%;}
	.TituloLoginCadastro span{float: left; width: 100%; height: 40px;}

.TabelaSelecao{width: 100%; text-align: center;}
	.TabelaSelecao tr:nth-child(2n -1){background: #D8E2D5;}
	.TabelaSelecao tr:first-child{background: #000; color: #fff; font-weight: bold; font-size: 20px;}
	.TabelaSelecao td{width: 20%}

/* Inicio do css da pagina jogar.php */ 
.flex{display: flex;}

.colunas{width: 500px; padding: 20px; margin: 10px;}

h1{font-weight: 1.2rem; text-align: center;}

.titulo{text-align: center;}

.CadastroFicha{float: left; width: 60%; margin: 10px 20% 10px 20%;}
  .CadastroFicha span{font-family:'Josefin Sans', sans-serif;}
  .CadastroFicha input[type='text'], input[type="number"]{float: left; width: 100%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5}
  .CadastroFicha input[type='submit']{display: inline-block; width: 20%; height: 40px; font-size: 17px; color:#FFF; font-weight: bold; text-align: center; border:0; border-radius: 15px; cursor:pointer; background: #41B13B; font-family: 'Josefin Sans', sans-serif;}
  .CadastroFicha a{color: #41B13B; text-decoration: none;}
  .CadastroFicha a:hover{text-decoration: underline;}   
/* Inicio do css da pagina jogar.php */  