*{margin: 0; padding: 0;}

hr{border-width: 2px; border-color: black;}

.SpanEstilizado > span{font-family: 'Josefin Sans', sans-serif; font-size: 1.3em; text-align: center;}

.ImgIndex{padding: 15px;}
  .ImgIndex > img{border-radius: 15px; border-style: solid; border-width: 3px;}

.CenterImg{padding-right: 45%; padding-left: 45%; padding-top: 5%;}

.ImageFundoFicha{width: 500px; height: 380px; background-repeat: no-repeat; background-size: 100% 100%;}

.ImageFundo{width: 100%; height: 900px; background-repeat: no-repeat; background-size: contain; background-size: 100% 100%;}

.SelectEstilizado select{width: 150px; padding: 10px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5}

.TextareaEstilizado textarea{border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5}

/*.CadastroFicha{float: left; width: 40%; margin: 10px 30% 10px 30%;}
  .CadastroFicha span{font-family: 'Josefin Sans', sans-serif;}
  .CadastroFicha label{font-family: 'Josefin Sans', sans-serif; font-size: 15px;}
  .CadastroFicha input[type='text'], input[type="number"], input[type="password"]{float: left; width: 100%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5}
  .CadastroFicha input[type='submit']{display: inline-block; width: 100%; height: 40px; font-size: 17px; color:#FFF; font-weight: bold; text-align: center; border:0; border-radius: 15px; cursor:pointer; background: #41B13B; font-family: 'Josefin Sans', sans-serif;}
  .CadastroFicha input[type='radio']{border: 2px solid #41B13B; border-radius: 5px;}
  .CadastroFicha a{color: #41B13B; text-decoration: none;}
  .CadastroFicha a:hover{text-decoration: underline;} 
  .CadastroFicha select{float: left; width: 100%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5}
*/
.FonteInterna{font-weight: bold; text-align: center; font-size: 1em;}

.Content{float: left; width: 100%; padding: 15px; background: lightgray;}

.Secao{margin-left: 5%; margin-right: 5%; width: 90%;}

.SecaoContato{margin-left: 5%; margin-right: 5%; width: 90%;}
  .SecaoContato div{margin-top: 50px;}
  .SecaoContato h2{font-family: 'Berkshire Swash', cursive; font-size: 30px; margin: 10px;}
  .SecaoContato span{font-family: 'Josefin Sans', sans-serif; margin-left: 3%; color: #41B13B;}

.CenterTituloIndex{text-align: center; font-family: 'Berkshire Swash', cursive; font-size: 50px; margin: 10px; color: #41B13B; padding-top: 15%; text-shadow: 10px 10px 15px #41B13B;}
  .CenterTituloIndex > h1{color: #ffff; font-weight: bold;}

.CenterMidia{text-align: center; font-family: 'Berkshire Swash', cursive; font-size: 20px; margin: 10px; color: #41B13B; padding-top: 15%; text-shadow: 10px 10px 15px #41B13B;}  

.CenterTitulo{text-align: center; font-family: 'Berkshire Swash', cursive; font-size: 32px; margin: 10px; color: #41B13B;}

.CenterTituloFicha{text-align: center; font-family: 'Berkshire Swash', cursive; font-size: 20px; color: #41B13B; margin: 20px 0 20px 0;}

/* Inicio do css da pagina index.php */
.BotaoJogar{position: absolute; margin-top: 325px; width: 100%; height: 50px;} 

.JogarIndex button{display: inline-block; width: 15%; height: 50px; font-size: 25px; color:#FFF; font-weight: bold; text-align: center; border:0; border-radius: 15px; cursor:pointer; background: #41B13B; font-family: 'Josefin Sans', sans-serif; box-shadow: 5px 5px 20px #ffff;}
    .JogarIndex button:hover{background: #ffff; text-decoration: none; color: #41B13B; box-shadow: 5px 5px 20px #41B13B;} 
/* Inicio do css da pagina index.php */

/* Inicio do css da pagina index.php */
.InfFicha{float: left; width: 100%; margin-bottom: 5px;}
  .InfFicha input[type='text']{float: left; width: 90%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5;}
  .InfFicha input[type='number']{float: left; width: 15%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5;}
  .InfFicha span{font-family:'Josefin Sans', sans-serif;} 

.InfFichaMod{float: left; width: 100%;}
  .InfFichaMod input[type='number']{float: left; width: 10%; height: 25px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5;} 
  .InfFichaMod small{font-family:'Josefin Sans', sans-serif; margin-left: 1px;} 

.BordaFicha{border: 2px solid #41B13B; border-radius: 5px;}  
/* Inicio do css da pagina index.php */  

.Titulo{font-family: 'Berkshire Swash', cursive; font-size: 30px;}

.Retorno{display: none; float: left; width: 70%; border: 2px solid #41B13B; background: #D8E2D5; text-align: center; padding: 15px; margin: 20px 15% 10px 15%;}
.RetornoTeste{float: left; width: 70%; border: 2px solid #41B13B; background: #D8E2D5; text-align: center; padding: 15px; margin: 20px 15% 10px 15%;}}

.Formulario{width: 100%; height: 500px; margin-bottom: 100px;}

.CadastroFormulario{float: left; width: 40%; margin: 10px 30% 10px 30%;}
	.CadastroFormulario span{font-family:'Josefin Sans', sans-serif;}
	.CadastroFormulario input[type='text'], input[type='password']{float: left; width: 100%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5}
  .CadastroFormulario input[type='submit']{display: inline-block; width: 20%; height: 40px; font-size: 17px; color:#FFF; font-weight: bold; text-align: center; border:0; border-radius: 15px; cursor:pointer; background: #41B13B; font-family: 'Josefin Sans', sans-serif;}
  .CadastroFormulario a{color: #41B13B; text-decoration: none;}
  .CadastroFormulario a:hover{text-decoration: underline;}

/* Inicio do css da pagina modoJogo.php */
.CadastroSala{float: left; width: 70%; margin: 10px 20% 10px 20%;}
  .CadastroSala span{font-family:'Josefin Sans', sans-serif;}
  .CadastroSala input[type='text'], input[type='password']{float: left; width: 100%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5}
  .CadastroSala input[type='submit']{display: inline-block; width: 20%; height: 40px; font-size: 17px; border:0; border-radius: 15px; background: #41B13B; font-family: 'Josefin Sans', sans-serif;}
  .CadastroSala a{color: #41B13B; text-decoration: none;}
  .CadastroSala a:hover{text-decoration: underline;}
  .CadastroSala select{float: left; width: 100%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5}
/* Fim do css da pagina modoJogo.php */        

.TituloLoginCadastro{float: left; width: 20%; margin: 20px 20% 10px 20%;}
	.TituloLoginCadastro span{float: left; width: 100%; height: 40px;}

/*.TabelaSelecao{width: 100%; text-align: center;}*/
.TabelaSelecao{width: 100%; text-align: center;}
	.TabelaSelecao tr:nth-child(2n -1){background: #D8E2D5;}
	.TabelaSelecao tr:first-child{background: #000; color: #fff; font-weight: bold; font-size: 20px;}
	.TabelaSelecao td{width: 20%}

/* Inicio do css da pagina jogar.php */
.colunas{width: 500px; padding: 20px; margin: 10px;}  
/* Fim do css da pagina jogar.php */  

/* Inicio do css da salaJogar.php */
.FichaJogar{display: flex;}
  .FichaJogar span{font-family:'Josefin Sans', sans-serif; font-weight: bold; color: #41B13B}
  .ConteudoFicha{width: 20%; margin: 0 auto;}
  .ConteudoFicha input[type='text'], input[type="number"]{height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5}
  .ConteudoFicha img{margin: 5px 15px 5px 0px;}
  .ConteudoFicha img:hover{cursor: pointer;}
/* Fim do css da salaJogar.php */