*{margin: 0; box-sizing: border-box;}

.Center{text-align: center;}

.Menu{float: left; width: 100%; height: 100px; background: #fff;}

.ImageSlogan{position: absolute; margin: 1% 1% 1% 20%;}

.Links{float: right; margin: 1% 15% 1% 15%; font-family: 'Josefin Sans', sans-serif;}
	.Links a{margin: 20px; text-decoration: none;}
	.LinkBotao {display: inline-block; padding: 10px 25px; font-size: 17px; color:#FFF; font-weight: bold; text-align: center; border:0; border-radius: 15px; cursor:pointer; background: #41B13B; font-family: 'Josefin Sans', sans-serif;} 

.SecaoPrimeira{float: left; width: 100%; height: 700px; background: #000; opacity: 0.9;}

.Titulo{font-family: 'Berkshire Swash', cursive; font-size: 50px;}

.Retorno{display: none; float: left; width: 70%; border: 2px solid #41B13B; background: #D8E2D5; text-align: center; padding: 15px; margin: 20px 15% 10px 15%;}

.RetornoNegativo{display: none; float: left; width: 70%; border: 2px solid #41B13B; background: #D8E2D5; text-align: center; padding: 15px; margin: 20px 15% 10px 15%;}

.Formulario{float: left; width: 70%; height: 500px; padding: 20px; margin: 60px 15%;}

.CadastroFormulario{float: left; width: 60%; margin: 10px 20% 10px 20%;}
	.CadastroFormulario span{font-family: 'Josefin Sans', sans-serif;}
	.CadastroFormulario input[type='text'] , input[type='email'] , input[type='password']{float: left; width: 100%; height: 40px; border: 2px solid #41B13B; border-radius: 5px; background: #D8E2D5}
    .CadastroFormulario input[type='submit']{display: inline-block; width: 20%; height: 40px; font-size: 17px; color:#FFF; font-weight: bold; text-align: center; border:0; border-radius: 15px; cursor:pointer; background: #41B13B; font-family: 'Josefin Sans', sans-serif;}
    .CadastroFormulario a{color: #41B13B; text-decoration: none;}
    .CadastroFormulario a:hover{text-decoration: underline;}

.TituloLoginCadastro{float: left; width: 20%; margin: 20px 20% 10px 20%;}
	.TituloLoginCadastro span{float: left; width: 100%; height: 40px;}

